@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';

* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	background: #F5F5F5;
	color: #67727A;
	font-family: 'Alegreya Sans', sans-serif;
	margin: 0;
}

h2{
	font-size:150%;
	line-height:100%;
	padding-top:0;
	font-weight:700;
}

h3{
	font-size:200%;
	text-align: center;
	color: #F5F5F5;
	line-height:100%;
	padding-top:1.5%;
	font-weight:400;
}

p{
	font-size:100%;
	letter-spacing:1px;
	font-weight:bold;
	line-height:200%;
	padding:1% 10% 3% 10%;
}

img{
	max-width:60%;
	height:auto;
	width:auto;
}

header{
	background-color:#6991AC;
	width: 100%;
	height: 86px;
}

#header-inner{
	max-width: 1200px;
	margin: 0 auto;
}

#logo{
	margin: 15px;
	float: left;
	width:200px;
	height:60px;
	background: url(img/PL.png) no-repeat center;
}
/* nav style is starting */

nav{
	float: right;
	padding: 25px 20px 0 20px;
}

#menu-icon{
	display: hidden;
	width: 40px;
	height: 40px;
	background: url(img/nav.png) center;
}

a:hover#menu-icon{
	border-radius: 4px 4px 0 0;
}
ul{
	list-style-type: none;
}
nav ul li{
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 150%;
	display: inline-block;
	float: left;
	padding: 10px;
}
nav ul li a{
	color: #F5F5F5;
	text-decoration: none;
}
nav ul li a:hover{
	color: #C3D7DF;
}

.current{
	color: #C3D7DF;
}
/*navigation stuff ends */

.banner{
	width:100%;
	background-color: #6991AC;
}

.banner-inner{
    max-width:1230px;
	margin:0 auto;
}

.one-third{
	width:33.3333333333333333333%;
	height:350px;
	float:left;
	text-align:center;
}

#education{
	background-color:#F1AA90;
}

#interests{
	background-color:#AADCD2;
}

#funfacts{
	background-color:#BEB9AD;
}

.one-third i{
	color:#F0F0F0;
	font-size:500%;
	padding: 7% 0 4% 0;
}

.inner-wrapper-projects-left{
	float: left;
	width: 100%;
	background-color: #C3D7DF;
}

article{
	float: left;
	width: 50%;
	height: auto;
}

#cplusplus {
	background-color: #C3D7DF;
	
}

aside{
	float: right;
	margin:0 auto;
	width:50%;
	height: auto;
}

#cplusplus2 {
	background-color: #A2B1C1;
}

#android {
	background-color: #BEB9AD;
}

#android2 {
	background-color: #C3D7DF;
}

#python {
	background-color: #C3D7DF;
}

#python2 {
	background-color: #F1AA90;
}

#projectdes{
	color:#F5F5F5;
	/*--- bigger font size, bigger line spacing, maybe other things */
}

.inner-wrapper-projects-right{
	float: left;
	width:100%;
	background-color: #C3D7DF;
}

.inner-wrapper-skills{
	padding-top:2%;
	float:left;
	width:100%;
	background-color:#C3D7DF;
}

.half{
	width:50%;
	float:left;
	text-align: center;
}

/*skills section */

#hardskills{
	padding-top:1%;
	background-color: #A2B1C1;
}

#softskills{
	padding-top:1%;
	background-color: #AADCD2;
}

#skillslist{
	font-size: 110%;
	letter-spacing:1.5px;
	line-height:250%;
	font-weight:bold;
	padding-bottom:2%;
}

/*footer section starts here */

footer{
	background-color: #6991AC;
	width: 100%;
}

.social{
	list-style-type: none;
	text-align:center;
}

.social li{
	display:inline;
}

.social i{
	font-size:460%;
	margin:1%;
	padding:5% 5% 2% 4%;
	color: #C3D7DF;
}

.social i:hover{
	color: #F5F5F5;
}

.contact{
	list-style-type: none;
	text-align:center;
}
.contact li{
	display:inline;
	color: #C3D7DF;
}

.contact i{
	font-size:250%;
	margin:0 1% 0 2%;
	padding:0 0 5% 0;
	color: #C3D7DF;
}


